<div class="container" [hidden]="begin">

<h2 class="text-center">Welcome to my Chess Application!</h2>
<br/>
<br/>
<br/>
<br/>
<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <h3>Start a new game of Chess.</h3>
        <br/>
        <br/>
        <button class="btn btn-primary" (click)="beginNewGame()">Start a new Game</button>
        
    </div>
    <div class="col-2"></div>
    <div class="col-4">
        <app-game-list></app-game-list>
    </div>
    <div class="col-1"></div>
</div>


</div>
<div *ngIf="begin" class="container d-flex justify-content-center">
    <a class="btn btn-primary" routerLink="/game/{{gameId}}">Game Id: {{gameId}}</a>
</div>