*{
    cursor: default;
    &:hover{
        left: .1em;
    }
}
.text{
    &:hover{
        left: .2em;
    }
}
.left{
 
}
.right{

}

.container{
    background-color: white;
    padding-top:80px;
    padding-bottom: 150px;
    opacity: 90%;

}