.board{
    box-sizing: content-box;
    padding: 0;
    margin-left: auto;
    color: black;
    background-color: whitesmoke;
    opacity: 90%;
    padding-left:20px;
    padding-bottom:500px;
}
.row{
    float:left;
}
.col{
    margin:0;
    padding:0;
}

.controls{
    max-height: 4vh !important;
}


