.square{
    height: 8vw;
    width: 8vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    
    img{
        
        margin: auto;
        height: 6vw;        
        width: auto;
    }

    .top-left-text{
        position:absolute;
        padding: 0.3vw;
        left: 2px;
        top: 2px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:14px;
    
    }
    .bottom-right-text{
        position: absolute;
        padding: 0.3vw;
        bottom:2px;
        right:2px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:14px;
    }
    
}

.white{
    background-color: #e8ebef;
    color: #7d8796;
}
.black{
    background-color: #7d8796;
    color: white;
}



.whitePieceSelected{
    border-width: 2px;
    border-style: solid;
    border-color: red;
    background-color: rgb(253, 202, 202, 50);
}

.blackPieceSelected{
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    background-color: rgb(71, 71, 143, 50);
}

.sameSide{
    cursor: pointer;
}

