body{
    font-family: Akzidenz Grotesk;
    
}

nav{
    vertical-align: middle;
    .navbar-brand{
        font-weight:bold;
        font-size:1.7rem;
        padding-left:25px;
        cursor:default;
        color:rgb(143, 143, 143);
        
    }
    .nav-link{
        margin-left:auto;
        cursor:pointer;
        color: rgb(143, 143, 143);
        
    }
    .nav-text{
        vertical-align: middle;
        font-size:1.2rem;
        &:hover{
            color:rgb(243, 243, 243);
        }
        
    }
    a{
        text-decoration: none;
    }
}
